.cart {
  margin: 50px auto;
  max-width: 1200px;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty-cart {
  text-align: center;
  font-size: 16px;
  color: grey;
  padding: 20px 0;
}

.promo-applied {
  background-color: #e0e0e0;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 10px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 15px;
}

.cart-items {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 100%;
  max-width: 10000px;
}

.cart-items-title {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 0.5fr;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  color: grey;
}

.cart-items-items p {
  margin: 0;
  color: #333;
}

.cart-items-items .cross {
  color: red;
  cursor: pointer;
  font-weight: bold;
}

.quantity-input {
  width: 50px;
  padding: 5px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.quantity-input:focus {
  outline: none;
  border-color: #4df028;
}

.cart hr {
  height: 1px;
  background-color: #e2e2e2;
  border: none;
}

.cart-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000rem;
  max-width: 100%;
}

.cart-total {
  background-color: #fafafa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1160px;
  text-align: center;
}

.cart-summary-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  max-width: 500px;
  margin-bottom: 20px;
}

.cart-subtotal,
.cart-promocode {
  flex: 1;
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.cart-total-summary {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #555;
  padding: 8px 0;
}

.cart-total-summary.total {
  font-size: 16px;
  font-weight: bold;
}

.cart-promocode input {
  width: 70%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.cart-promocode .apply{
  width: 10%;
  padding: 8px;
  border: none;
  background-color: #ff9800;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
}

.cart-promocode button:hover {
  background-color: #e68900;
}

.cart-total button {
  width: 100%;
  padding: 12px;
  border: none;
  color: white;
  background: linear-gradient(to right, #4df028, #2bb673);
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.cart-total button:hover {
  background: linear-gradient(to right, #40e020, #249c63);
}

@media (max-width: 768px) {
  .cart-summary-container {
    flex-direction: column;
  }

  .cart-subtotal,
  .cart-promocode {
    width: 100%;
  }

  .cart-items-title {
    grid-template-columns: 1.5fr 1fr 1fr 1fr 0.5fr;
  }
}
