.about-us-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.about-us-section {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.about-us-section:nth-child(even) {
  flex-direction: row-reverse;
}

.about-us-text {
  flex: 1;
  text-align: left;
  padding: 20px;
}

.about-us-text h1, .about-us-text h2 {
  color: #2c3e50;
}

.about-us-text p {
  color: #7f8c8d;
  line-height: 1.6;
}

.about-us-text button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

.about-us-text button:hover {
  background-color: #c0392b;
}

.about-us-image {
  flex: 1;
  padding: 20px;
  align-items: right;
}

.about-us-image img {
  max-width: 30%;
  height: auto;
  border-radius: 10px;
  align-items: right;

}

.rewards-container {
  text-align: center;
  margin-top: 40px;
}

.rewards-container h2 {
  color: #2c3e50;
}

.rewards-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rewards-container label {
  margin-bottom: 10px;
  color: #7f8c8d;
}

.rewards-container input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
}

.rewards-container button {
  background-color: #27ae60;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.rewards-container button:hover {
  background-color: #229954;
}

.success-message {
  color: #27ae60;
  font-size: 18px;
}