.login-popup {
    position: fixed;
    /* Change to fixed to ensure it stays in place */
    z-index: 9999;
    /* High z-index to bring it in front of everything */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    /* Dark gray background with transparency */
    display: grid;
}

.login-popup-container {
    place-self: center;
    width: max(23vw, 330px);
    color: #808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.5s;
    z-index: 10000;
    /* Ensure the container is above the background */
    position: relative;
    /* For positioning child elements */
}

.login-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

.close-button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #808080;
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

.password-input {
    width: 100%;
    padding: 10px;
    padding-right: 35px;
    /* room for eye icon */
    border: 1px solid #ccc;
    border-radius: 4px;
}

.eye-icon {
    position: absolute;
    right: 15px;
    top: 35%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #808080;
}

.eye-icon:hover {
    color: #000;
}

.login-popup-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-button {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.close-button:hover {
    transform: scale(1.2);
}