.Header {
    height: 34vw;
    margin: 30px auto;
    background: url('https://cdn.pixabay.com/photo/2017/02/15/10/39/salad-2068220_1280.jpg') no-repeat center center; /* Updated with a responsive image */
    background-size: cover; /* Ensures the image covers the entire header */
    position: relative;
    border-radius: 20px;
    overflow: hidden; /* Ensures any overflowed content is clipped */
}

.header-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}

.header-contents h2 {
    font-weight: 500;
    color: white;
    font-size: max(4.5vw, 22px);
}

.header-contents p {
    color: white;
    font-size: 1vw;
}

.header-contents .highlight-green {
    color: #47f564; /* Dark green for highlighted words */
    font-weight: bold;
  }

.header-contents button {
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw, 13px);
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Add hover effects */
}

.header-contents button:hover {
    background-color: #4caf50; /* Light green on hover */
    color: white; /* Text color changes on hover */
}

/* Tablet Screen Adjustments */
@media (max-width: 1050px) {
    .header-contents {
        max-width: 45%;
    }
}

/* Mobile Screen Adjustments */
@media (max-width: 750px) {
    .header-contents {
        max-width: 65%;
    }

    .header-contents p {
        display: none; /* Hide paragraph text on smaller screens */
    }

    .header-contents button {
        padding: 2vw 4vw; /* Increase padding for better touch target size */
    }
}
