.explore-menu {
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding: 20px;
}

.explore-menu h1 {
    color: #0e0e0e;
    font-weight: 600;
    font-size: 2.5rem;
    text-align: left;
    margin: 0;
    padding: 0;
}

.explore-menu-text {
    max-width: 100%;
    color: #808080;
    margin-top: 20px;
    font-size: 14px;
    text-align: right;
}

.explore-menu-list-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.explore-menu-list-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.explore-menu-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0px;
    padding: 10px;
    overflow-x: hidden;
    flex-wrap: nowrap;
    gap: 20px;
}

.explore-menu-list-item {
    flex: 0 0 calc(100% / 8);
    text-align: center;
}

.explore-menu-list-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
}

.explore-menu-list-item p {
    margin-top: 10px;
    color: #747474;
    font-size: 14px;
    cursor: pointer;
}

.explore-menu-list-item .active {
    border: 4px solid rgb(0, 255, 34);
    padding: 2px;
}

.scroll-arrow {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
}

.scroll-arrow.left {
    left: 0px;
}

.scroll-arrow.right {
    right: 0px;
}

.arrow-circle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #009919;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
}

.arrow-circle:hover {
    transform: scale(1.1);
}

.arrow-symbol {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

@media (min-width: 1200px) {
    .explore-menu-list-item {
        flex: 0 0 calc(100% / 8);
    }

    .explore-menu-list-item img {
        width: 175px;
        height: 175px;
    }

    .explore-menu-list-item p {
        font-size: 1.5rem;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .explore-menu-list-item {
        flex: 0 0 calc(100% / 6);
    }

    .explore-menu-list-item img {
        width: 150px;
        height: 150px;
    }

    .explore-menu-list-item p {
        font-size: 1.2rem;
    }
}

@media (max-width: 767px) {
    .explore-menu-list-item {
        flex: 0 0 calc(100% / 4);
    }

    .explore-menu-list {
        gap: 0;
    }

    .explore-menu-list-item img {
        width: 80px;
        height: 80px;
    }

    .explore-menu-list-item p {
        font-size: 12px;
    }

    .scroll-arrow.left {
        left: -20px;
    }

    .scroll-arrow.right {
        right: -20px;
    }
}
